unpackaged/main/default/flows/Account_Create_Update_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_to_Concatenate_Email_1</name>
        <label>Assign to Concatenate Email 1</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>emailConcatenate1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailConcatenate1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.X2nd_Email__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailConcatenate2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.X2nd_Email__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailConcatenate2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailConcatenate3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emailConcatenate3Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Both_Email_Field_Populated</name>
        <label>Both Email Field Populated?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Both_Email_Fields_Populated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonEmail</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X2nd_Email__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Treatment_Start_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Concatenate_Email_1</targetReference>
            </connector>
            <label>Yes - Both Email Fields Populated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>emailConcatenate3Formula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.X2nd_Email__pc})), {!$Record.X2nd_Email__pc}, {!$Record.PersonEmail})</expression>
    </formulas>
    <interviewLabel>Account Create Update Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Create Update Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Email_Concatenation_1__c</field>
            <value>
                <elementReference>emailConcatenate1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Concatenation_2__c</field>
            <value>
                <elementReference>emailConcatenate2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Concatenation_3__c</field>
            <value>
                <elementReference>emailConcatenate3</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Both_Email_Field_Populated</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>emailConcatenate1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailConcatenate2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailConcatenate3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
