unpackaged/main/default/flows/Blood_Test_Task_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Blood_Test_Count</name>
        <label>Assign Blood Test Count</label>
        <locationX>2162</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>bloodTestCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Blood_Tests</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_Reminder_Type_Blood_Test_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNew12MonthReminderTaskEmail</name>
        <label>Assign New 12 Month Reminder Task Email</label>
        <locationX>2690</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>nEmailTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectEMail12Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow-up Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EMail_Task_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNew12MonthReminderTaskSMS</name>
        <label>Assign New 12 Month Reminder Task SMS</label>
        <locationX>2426</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>nSMSTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectSMS12Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow-up Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMS_Task_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNew3MonthReminderTaskEmail</name>
        <label>Assign New 3 Month Reminder Task Email</label>
        <locationX>314</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>nEmailTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectEmail3Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow-up Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EMail_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNew3MonthReminderTaskSMS</name>
        <label>Assign New 3 Month Reminder Task SMS</label>
        <locationX>50</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>nSMSTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectSMS3Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow-up Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMS_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNew6MonthReminderTaskEmail</name>
        <label>Assign New 6 Month Reminder Task Email</label>
        <locationX>1634</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>nEmailTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectEmail6Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow-up Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EMail_Task_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNew6MonthReminderTaskSMS</name>
        <label>Assign New 6 Month Reminder Task SMS</label>
        <locationX>1898</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>nSMSTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectSMS6Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow-up Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMS_Task_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Catches any other Blood Tests that don&#39;t contain reference to a time period specified in the other paths</description>
        <name>AssignNewReminderTaskEmail</name>
        <label>Assign New Reminder Task Email</label>
        <locationX>3482</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>nEmailTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectEmailGeneric</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow-up Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EMail_Task_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewReminderTaskSMS</name>
        <label>Assign New Reminder Task SMS</label>
        <locationX>3218</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>nSMSTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectSMSGeneric</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow-up Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMS_Task_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewSubsequent6MonthReminderTaskEmail</name>
        <label>Assign New Subsequent 6 Month Reminder Task Email</label>
        <locationX>1106</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>nEmailTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectEmailSub6Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow-up Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EMail_Task_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewSubsequent6MonthReminderTaskSMS</name>
        <label>Assign New Subsequent 6 Month Reminder Task SMS</label>
        <locationX>842</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>nSMSTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectSMSSub6Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow-up Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMS_Task_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_is_Reminder_Type_Blood_Test_Count</name>
        <label>What is Reminder Type / Blood Test Count</label>
        <locationX>2162</locationX>
        <locationY>648</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X3_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>3 month</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bloodTestCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_Task_Channel</targetReference>
            </connector>
            <label>3 month</label>
        </rules>
        <rules>
            <name>Subsequent_6_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Subsequent 6 Month</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bloodTestCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_Task_Channel_2</targetReference>
            </connector>
            <label>Subsequent 6 month</label>
        </rules>
        <rules>
            <name>X6_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>6 month</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bloodTestCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_Task_Channel_3</targetReference>
            </connector>
            <label>6 month</label>
        </rules>
        <rules>
            <name>X12_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>12 month</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bloodTestCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_Task_Channel_4</targetReference>
            </connector>
            <label>12 month</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bloodTestCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_Task_Channel_5</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_Task_Channel</name>
        <label>What is Task Channel</label>
        <locationX>314</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Automated_Task_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNew3MonthReminderTaskSMS</targetReference>
            </connector>
            <label>SMS</label>
        </rules>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Automated_Task_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNew3MonthReminderTaskEmail</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_Task_Channel_2</name>
        <label>What is Task Channel</label>
        <locationX>1106</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMS_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Automated_Task_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNewSubsequent6MonthReminderTaskSMS</targetReference>
            </connector>
            <label>SMS</label>
        </rules>
        <rules>
            <name>Email_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Automated_Task_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNewSubsequent6MonthReminderTaskEmail</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_Task_Channel_3</name>
        <label>What is Task Channel</label>
        <locationX>1898</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Automated_Task_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNew6MonthReminderTaskEmail</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>SMS_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Automated_Task_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNew6MonthReminderTaskSMS</targetReference>
            </connector>
            <label>SMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_Task_Channel_4</name>
        <label>What is Task Channel</label>
        <locationX>2690</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMS_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Automated_Task_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNew12MonthReminderTaskSMS</targetReference>
            </connector>
            <label>SMS</label>
        </rules>
        <rules>
            <name>Email_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Automated_Task_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNew12MonthReminderTaskEmail</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_Task_Channel_5</name>
        <label>What is Task Channel</label>
        <locationX>3482</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMS_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Automated_Task_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNewReminderTaskSMS</targetReference>
            </connector>
            <label>SMS</label>
        </rules>
        <rules>
            <name>Email_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Automated_Task_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNewReminderTaskEmail</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dateTime5DaysAgo</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}-5</expression>
    </formulas>
    <interviewLabel>Blood Test Task Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Follow-Up Reminder Blood Test Task Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_EMail_Task</name>
        <label>Create EMail Task</label>
        <locationX>314</locationX>
        <locationY>1008</locationY>
        <inputReference>nEmailTask</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_EMail_Task_2</name>
        <label>Create EMail Task</label>
        <locationX>1106</locationX>
        <locationY>1008</locationY>
        <inputReference>nEmailTask</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_EMail_Task_3</name>
        <label>Create EMail Task</label>
        <locationX>1634</locationX>
        <locationY>1008</locationY>
        <inputReference>nEmailTask</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_EMail_Task_4</name>
        <label>Create EMail Task</label>
        <locationX>2690</locationX>
        <locationY>1008</locationY>
        <inputReference>nEmailTask</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_EMail_Task_5</name>
        <label>Create EMail Task</label>
        <locationX>3482</locationX>
        <locationY>1008</locationY>
        <inputReference>nEmailTask</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Task</name>
        <label>Create SMS Task</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <inputReference>nSMSTask</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Task_2</name>
        <label>Create SMS Task</label>
        <locationX>842</locationX>
        <locationY>1008</locationY>
        <inputReference>nSMSTask</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Task_3</name>
        <label>Create SMS Task</label>
        <locationX>1898</locationX>
        <locationY>1008</locationY>
        <inputReference>nSMSTask</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Task_4</name>
        <label>Create SMS Task</label>
        <locationX>2426</locationX>
        <locationY>1008</locationY>
        <inputReference>nSMSTask</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Task_5</name>
        <label>Create SMS Task</label>
        <locationX>3218</locationX>
        <locationY>1008</locationY>
        <inputReference>nSMSTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>2162</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Blood_Test_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Blood_Tests</name>
        <label>Get Blood Tests</label>
        <locationX>2162</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>dateTime5DaysAgo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Blood_Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Month Reminder for</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X5_Days_After_Current_DateTime</name>
            <connector>
                <targetReference>Get_Blood_Tests</targetReference>
            </connector>
            <label>5 Days After Current DateTime</label>
            <offsetNumber>120</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>subjectEMail12Month</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Follow-Up Blood Test Reminder (12 Month) ({!Get_Account.PersonEmail})</text>
    </textTemplates>
    <textTemplates>
        <name>subjectEmail3Month</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Follow-Up Blood Test Reminder (3 Month) ({!Get_Account.PersonEmail})</text>
    </textTemplates>
    <textTemplates>
        <name>subjectEmail6Month</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Follow-Up Blood Test Reminder (6 Month) ({!Get_Account.PersonEmail})</text>
    </textTemplates>
    <textTemplates>
        <name>subjectEmailGeneric</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Follow-Up Blood Test Reminder ({!Get_Account.PersonEmail})</text>
    </textTemplates>
    <textTemplates>
        <name>subjectEmailSub6Month</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Follow-Up Blood Test Reminder (Subsequent 6 Month) ({!Get_Account.PersonEmail})</text>
    </textTemplates>
    <textTemplates>
        <name>subjectSMS12Month</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Follow-Up Blood Test Reminder (12 Month) ({!Get_Account.Phone})</text>
    </textTemplates>
    <textTemplates>
        <name>subjectSMS3Month</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Follow-Up Blood Test Reminder (3 Month) ({!Get_Account.Phone})</text>
    </textTemplates>
    <textTemplates>
        <name>subjectSMS6Month</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Follow-Up Blood Test Reminder (6 Month) ({!Get_Account.Phone})</text>
    </textTemplates>
    <textTemplates>
        <name>subjectSMSGeneric</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Follow-Up Blood Test Reminder ({!Get_Account.Phone})</text>
    </textTemplates>
    <textTemplates>
        <name>subjectSMSSub6Month</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Follow-Up Blood Test Reminder (Subsequent 6 Month) ({!Get_Account.Phone})</text>
    </textTemplates>
    <variables>
        <name>bloodTestCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nEmailTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>nSMSTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>tasksForCreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
