unpackaged/main/default/flows/Calls_Sales_Correlation_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Count_Tasks</name>
        <label>Assign Count Tasks</label>
        <locationX>264</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>countTasks15</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Record</name>
        <label>Assign Custom Record</label>
        <locationX>176</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>customReport.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customReport.Purchase_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customReport.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customReport.Patient_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient.Patient_Status__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customReport.Date_Last_Call_Prior_to_Purchase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Tasks.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customReport.Calls_Within_15_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>countTasks15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customReport.Calls_Within_30_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>countTasks30</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customReport.Calls_Within_45_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>countTasks45</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customReport.Calls_Within_60_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>countTasks60</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customReport.Purchase_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Custom_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Count_Tasks</name>
        <label>Copy 1 of Assign Count Tasks</label>
        <locationX>528</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>countTasks30</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Count_Tasks</name>
        <label>Copy 2 of Assign Count Tasks</label>
        <locationX>792</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>countTasks45</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Count_Tasks</name>
        <label>Copy 3 of Assign Count Tasks</label>
        <locationX>1056</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>countTasks60</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Timeframe_of_Task</name>
        <label>Timeframe of Task</label>
        <locationX>792</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Loop_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X15_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tasks.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>oppDateLess15</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Tasks.CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CloseDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Count_Tasks</targetReference>
            </connector>
            <label>15 Day Window</label>
        </rules>
        <rules>
            <name>X30_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tasks.CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CloseDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Tasks.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>oppDateLess30</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Count_Tasks</targetReference>
            </connector>
            <label>30 Day Window</label>
        </rules>
        <rules>
            <name>X45_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tasks.CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CloseDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Tasks.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>oppDateLess45</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Count_Tasks</targetReference>
            </connector>
            <label>45 Day Window</label>
        </rules>
        <rules>
            <name>X60_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tasks.CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CloseDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Tasks.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>oppDateLess60</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Count_Tasks</targetReference>
            </connector>
            <label>60 Day Window</label>
        </rules>
    </decisions>
    <description>Runs data for Calls Sales Correlation Report</description>
    <environments>Default</environments>
    <formulas>
        <name>oppDateLess15</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}-15</expression>
    </formulas>
    <formulas>
        <name>oppDateLess30</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}-30</expression>
    </formulas>
    <formulas>
        <name>oppDateLess45</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}-45</expression>
    </formulas>
    <formulas>
        <name>oppDateLess60</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}-60</expression>
    </formulas>
    <interviewLabel>Calls Sales Correlation Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calls Sales Correlation Report</label>
    <loops>
        <name>Loop_Tasks</name>
        <label>Loop Tasks</label>
        <locationX>176</locationX>
        <locationY>756</locationY>
        <collectionReference>Get_Tasks_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Timeframe_of_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Custom_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Custom_Report</name>
        <label>Create Custom Report</label>
        <locationX>176</locationX>
        <locationY>1428</locationY>
        <inputReference>customReport</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Calls_Sales_Correlation</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Custom_Report__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tasks_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskSubtype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks_0</name>
        <label>Get Tasks</label>
        <locationX>176</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskSubtype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-02-07</startDate>
            <startTime>14:57:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>countTasks15</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countTasks30</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countTasks45</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countTasks60</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>customReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Custom_Report__c</objectType>
    </variables>
</Flow>
