unpackaged/main/default/flows/Check_for_Blood_Test_records_on_Prospect_Patient_records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Count_Blood_Tests</name>
        <label>Assign Count Blood Tests</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>bloodTestCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Blood_Tests</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Blood_Tests_Exist</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Blood_Tests_Exist</name>
        <label>Blood Tests Exist</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Blood_Tests_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bloodTestCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Status</targetReference>
            </connector>
            <label>Yes - Blood Tests Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Check for Blood Test records on ‘Prospect’ Patient records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check for Blood Test records on ‘Prospect’ Patient records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Blood_Tests</name>
        <label>Get Blood Tests</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count_Blood_Tests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Blood_Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Status</name>
        <label>Update Account Status</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <inputAssignments>
            <field>Patient_Status__pc</field>
            <value>
                <stringValue>Blood Test</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Blood_Tests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Status__pc</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-09-20</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>bloodTestCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
