unpackaged/main/default/flows/Consultation_Form_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_To_Patient_Record</name>
        <label>Assign To Patient Record</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Patient_Record.Lead_Doctor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Consulting_Doctor_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_Consulting_Doctor</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Patient_Record_Exist</name>
        <label>Does Patient Record Exist?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Patient_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Patient__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Consulting_Doctor_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patient_Record</targetReference>
            </connector>
            <label>Yes, Patient Exists and Doctor Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Patient_Lead_Doctor_Null</name>
        <label>Is Patient Lead Doctor Null?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Patient Lead Dr Field NOT NULL</defaultConnectorLabel>
        <rules>
            <name>Patient_Lead_Dr_Field_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patient_Record.Lead_Doctor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_To_Patient_Record</targetReference>
            </connector>
            <label>Patient Lead Dr Field NULL</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Consultation Form Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consultation Form Trigger - Lead Doctor Field Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Patient_Record</name>
        <label>Get Patient Record</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Patient_Lead_Doctor_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Patient_Consulting_Doctor</name>
        <label>Update Patient Consulting Doctor</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Patient_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Patient_Record_Exist</targetReference>
        </connector>
        <object>Consultation_Form__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
