unpackaged/main/default/flows/Create_Med_Order_Community_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Convert_Collection_to_CSV</name>
        <label>Convert Collection to CSV</label>
        <locationX>270</locationX>
        <locationY>1982</locationY>
        <actionName>ConvertStringCollectionToCSV</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Shipping_Address_on_Account_Decision</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>stringCollection</name>
            <value>
                <elementReference>medsTextCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertStringCollectionToCSV</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Medication_to_Collection</name>
        <label>Add Medication to Collection</label>
        <locationX>358</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>previouslyOrderedMedsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>casesafeMedId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prescriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Stages_to_Active_Stages</name>
        <label>Add Stages to Active Stages</label>
        <locationX>270</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Medications</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirm_Shipping_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Medications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Meds_for_Selection</name>
        <label>Add to Meds for Selection</label>
        <locationX>358</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>medsForSelection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Meds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Meds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Meds_Text_Collection</name>
        <label>Assign to Meds Text Collection</label>
        <locationX>358</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>medsTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cycle_Through_Selected_Meds.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cycle_Through_Selected_Meds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Shipping_Address</name>
        <label>Update Shipping Address</label>
        <locationX>226</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addressEdit.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addressEdit.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addressEdit.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addressEdit.city</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Correct_Address</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Incorrect_Address</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Address_Confirmation_Decision</name>
        <label>Address Confirmation</label>
        <locationX>270</locationX>
        <locationY>2438</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>correctAddress.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Med_Order</targetReference>
            </connector>
            <label>Address True</label>
        </rules>
        <rules>
            <name>Address_False</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>correctAddress.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shipping_Address_Not_On_Account_Incomplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provide_Shipping_Address</targetReference>
            </connector>
            <label>Address False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Med_Id_in_Previously_Ordered_Meds_Collection</name>
        <label>Is Med Id in Previously Ordered Meds Collection</label>
        <locationX>490</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Loop_All_Meds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Med_is_In_Previously_Ordered_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>previouslyOrderedMedsIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_All_Meds.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Meds_for_Selection</targetReference>
            </connector>
            <label>Yes Med is In Previously Ordered Collection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipping_Address_on_Account_Decision</name>
        <label>Shipping Address on Account?</label>
        <locationX>270</locationX>
        <locationY>2102</locationY>
        <defaultConnector>
            <targetReference>Address_Confirmation_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shipping_Address_on_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.ShippingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.ShippingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.ShippingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>confirmShippingAddress</targetReference>
            </connector>
            <label>Shipping Address on Account</label>
        </rules>
        <rules>
            <name>Shipping_Address_Not_On_Account_Incomplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.ShippingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.ShippingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.ShippingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_Confirmation_Decision</targetReference>
            </connector>
            <label>Shipping Address Not On Account or Incomplete</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Meds_Order</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Medications_to_Order__c</picklistField>
        <picklistObject>Meds_Order__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>casesafeMedId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!Loop_Prescriptions.MedicationRecordId__c})</expression>
    </formulas>
    <formulas>
        <name>CSVOutputSemiColon</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Convert_Collection_to_CSV.csvString},&quot;,&quot;,&quot;;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Get ContactID from Portal User</description>
        <name>portalUserContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>Create Medication Order Community Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Med Order Community Form</label>
    <loops>
        <name>Cycle_Through_Selected_Meds</name>
        <label>Cycle Through Selected Meds</label>
        <locationX>270</locationX>
        <locationY>1646</locationY>
        <collectionReference>selectedMeds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Meds_Text_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Convert_Collection_to_CSV</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_All_Meds</name>
        <label>Loop All Meds</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Meds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Med_Id_in_Previously_Ordered_Meds_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>selectMedsScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Prescriptions</name>
        <label>Loop Prescriptions</label>
        <locationX>270</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Prescriptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Medication_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Meds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Med_Order</name>
        <label>Create Med Order</label>
        <locationX>270</locationX>
        <locationY>3014</locationY>
        <connector>
            <targetReference>Medication_Submit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Medications_to_Order__c</field>
            <value>
                <elementReference>CSVOutputSemiColon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_or_Repeat_Order__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Source__c</field>
            <value>
                <stringValue>Manual PT Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__c</field>
            <value>
                <elementReference>addressText</elementReference>
            </value>
        </inputAssignments>
        <object>Meds_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>270</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Prescriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>portalUserContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meds</name>
        <label>Get Meds</label>
        <locationX>270</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Meds</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Medications__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prescriptions</name>
        <label>Get Prescriptions</label>
        <locationX>270</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Prescriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Prescription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>226</locationX>
        <locationY>2798</locationY>
        <connector>
            <targetReference>Create_Med_Order</targetReference>
        </connector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>confirmShippingAddress</name>
        <label>Confirm Shipping Address</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Address_Confirmation_Decision</targetReference>
        </connector>
        <fields>
            <name>progressIndicator2</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Select Medication,Confirm Shipping Address,Place order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Confirm Shipping Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_shippingAddressDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(80, 173, 71);&quot;&gt;Shipping Address&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Get_Account.ShippingStreet}&lt;/p&gt;&lt;p&gt;{!Get_Account.ShippingCity}&lt;/p&gt;&lt;p&gt;{!Get_Account.ShippingState}&lt;/p&gt;&lt;p&gt;{!Get_Account.ShippingPostalCode}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>correctAddress</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is this Shipping Address correct? </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>754</locationX>
        <locationY>3134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultOutputText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;ERROR: Your Order has not been placed, please contact &lt;/strong&gt;&lt;a href=&quot;patients@optimale.co.uk &quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;patients@optimale.co.uk&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt;&amp;nbsp;and provide this error message: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Medication_Submit</name>
        <label>Medication_Submit</label>
        <locationX>270</locationX>
        <locationY>3134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>progressIndicator4</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Select Medication,Confirm Shipping Address,Place Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Place Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Med_Order_Submitted_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(3, 69, 122);&quot;&gt;﻿Thank you for your medication request. We&#39;ll be in contact shortly to confirm your order.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Provide_Shipping_Address</name>
        <label>Provide Shipping Address</label>
        <locationX>226</locationX>
        <locationY>2558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Shipping_Address</targetReference>
        </connector>
        <fields>
            <name>progressIndicator3</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Select Medication,Confirm Shipping Address,Edit Shipping Address,Place order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Edit Shipping Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>addressEdit</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Account.ShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_Account.ShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Get_Account.ShippingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Account.ShippingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Please update your Shipping Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>selectMedsScreen</name>
        <label>Select Meds</label>
        <locationX>270</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cycle_Through_Selected_Meds</targetReference>
        </connector>
        <fields>
            <name>progressIndicator1</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Select Medication,Confirm Shipping Address,Place order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Select Medication</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>medsDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Medications__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Medications to Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>medsForSelection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c070&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Medication&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedMeds</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Confirm_Shipping_Address</name>
        <isActive>true</isActive>
        <label>Confirm Shipping Address</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Confirmation</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Edit_Shipping_Address</name>
        <isActive>false</isActive>
        <label>Edit Shipping Address</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Select_Medications</name>
        <isActive>true</isActive>
        <label>Select Medications</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Stages_to_Active_Stages</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>addressText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!addressEdit.street}
{!addressEdit.city}
{!addressEdit.province}
{!addressEdit.postalCode}</text>
    </textTemplates>
    <variables>
        <name>medsForSelection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Medications__c</objectType>
    </variables>
    <variables>
        <name>medsTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientPastOrderedMeds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Medications__c</objectType>
    </variables>
    <variables>
        <name>previouslyOrderedMedsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedMeds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Medications__c</objectType>
    </variables>
</Flow>
