unpackaged/main/default/flows/Generate_task_for_6_week_blood_test_reminder_for_new_patients.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Filter_to_ensure_treatment_start_date_is_newly_entered</name>
        <label>Filter to ensure treatment start date is newly entered</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Do not continue flow</defaultConnectorLabel>
        <rules>
            <name>Continue_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Treatment_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Treatment_Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>todayLess7Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_BT_reminder_task</targetReference>
            </connector>
            <label>Continue flow</label>
        </rules>
    </decisions>
    <description>Added filter for excluded from BT reminders</description>
    <environments>Default</environments>
    <formulas>
        <name>Reminderduedate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Treatment_Start_Date__c}+42</expression>
    </formulas>
    <formulas>
        <name>todayLess7Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-7</expression>
    </formulas>
    <interviewLabel>Generate task for 6 week blood test reminder for new patients {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate task for 6 week blood test reminder for new patients</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_BT_reminder_task</name>
        <label>Create BT reminder task</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Reminderduedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>SF Workflow generated reminder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>6 week Blood Test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Regular Blood Test Reminder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.PersonContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Filter_to_ensure_treatment_start_date_is_newly_entered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Treatment_Start_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Patient_Status__pc</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current Patient</stringValue>
            </value>
        </filters>
        <filters>
            <field>Exclude_from_Blood_Test_Reminders__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
