unpackaged/main/default/flows/Issue_Repeat.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Record</name>
        <label>Navigate to Record</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>nRepeatPrescription.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_New_Repeat</name>
        <label>Assign New Repeat</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>nRepeatPrescription.Lead_Prescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Prescription.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nRepeatPrescription.Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Prescription.Date_of_Birth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nRepeatPrescription.Doctor_GMC_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Prescription.Doctor_GMC_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nRepeatPrescription.Dosage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Prescription.Dosage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nRepeatPrescription.Medication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Prescription.Medication__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nRepeatPrescription.Medication_Hold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Prescription.Medication_Hold__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nRepeatPrescription.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nRepeatPrescription.Override_Medication_Hold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Prescription.Override_Medication_Hold__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nRepeatPrescription.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Prescription.Patient__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nRepeatPrescription.Patient_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Prescription.Patient_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nRepeatPrescription.Prescribing_Doctor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Prescription.Prescribing_Doctor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nRepeatPrescription.Prescription_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved by Doctor (re-submit to pharmacy)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nRepeatPrescription.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Prescription.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nRepeatPrescription.Repeats__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nRepeatPrescription.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Repeat</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nRepeatPrescription.Prescription_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved by Doctor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Repeat</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Repeats_Available</name>
        <label>Are Repeats Available?</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Repeats_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prescription.Repeats_Remaining__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Repeat</targetReference>
            </connector>
            <label>Yes - Repeats Available</label>
        </rules>
        <rules>
            <name>No_Repeats_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prescription.Repeats_Remaining__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Repeats_Warning</targetReference>
            </connector>
            <label>No - Repeats Not Available</label>
        </rules>
    </decisions>
    <formulas>
        <name>nameFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Prescription.Name}+&quot;_&quot;+TEXT({!Get_Prescription.Repeats_Issued__c}+1)</expression>
    </formulas>
    <formulas>
        <name>repeatsRemainingFormula</name>
        <dataType>Number</dataType>
        <expression>{!Get_Prescription.Repeats_Remaining__c}-1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Issue Repeat {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Issue Repeat</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Repeat</name>
        <label>Create Repeat</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Navigate_to_Record</targetReference>
        </connector>
        <inputReference>nRepeatPrescription</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Prescription</name>
        <label>Get Prescription</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Repeats_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Prescription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Issue_Repeat</name>
        <label>Issue Repeat</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_New_Repeat</targetReference>
        </connector>
        <fields>
            <name>prescriptionDetail</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Repeat Prescription&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Patient: &lt;/b&gt;{!Get_Prescription.Patient__r.FirstName} {!Get_Prescription.Patient__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Medication: &lt;/b&gt;{!Get_Prescription.Medication__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Dosage: &lt;/b&gt;{!Get_Prescription.Dosage__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Send To: &lt;/b&gt;{!Get_Prescription.Patient_Address__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>remainingRepeatsText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Following issue, Patient will have {!repeatsRemainingFormula} Repeats remaining&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>repeatsRemainingFormula</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>noRepeatsWarningText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;N.B. No further Repeats will be permitted on this Prescription&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>repeatsRemainingFormula</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Repeats_Warning</name>
        <label>No Repeats Warning</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noRepeatsText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;No Repeats are available on this Prescription&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Prescription</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>nRepeatPrescription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Prescription__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
