unpackaged/main/default/flows/New_Prescription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Convert_Comma_separated_values_to_String_Collection</name>
        <label>Convert Comma-separated-values to String Collection</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Phone_Format</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>Get_Med_Order.Medications_to_Order__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertCSVToStringCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Record</name>
        <label>Navigate to Record</label>
        <locationX>446</locationX>
        <locationY>5138</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Get_Patient.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_for_Approval</name>
        <label>Send for Approval</label>
        <locationX>710</locationX>
        <locationY>4862</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Loop_Prescriptions_for_Approval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Prescription_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Loop_Prescriptions_for_Approval.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Edited_Id_List</name>
        <label>Add Id to Edited Id List</label>
        <locationX>534</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>editedPrescriptionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Edited_Prescriptions_For_IDs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Edited_Prescriptions_For_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Id_to_Selected_Id_List_0</name>
        <label>Add Id to Selected Id List</label>
        <locationX>622</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>selectedPrescriptionsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_Prescriptions.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DoesEditedPrescriptionsContainsLoopVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Prescription_to_Array</name>
        <label>Add Prescription to Array</label>
        <locationX>534</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>nPrescriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>nPrescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Final_Update_Prescriptions</name>
        <label>Add To Final Update Prescriptions</label>
        <locationX>534</locationX>
        <locationY>4046</locationY>
        <assignmentItems>
            <assignToReference>finalUpdatePrescriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prescriptionFinalUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prescriptions_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Prescriptions</name>
        <label>Add to Prescriptions</label>
        <locationX>50</locationX>
        <locationY>3530</locationY>
        <assignmentItems>
            <assignToReference>prescriptionsForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>editedPrescriptions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prescriptionsForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dedupedSelectedPrescriptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prescriptions_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Prescriptions_0</name>
        <label>Add to Prescriptions</label>
        <locationX>314</locationX>
        <locationY>3530</locationY>
        <assignmentItems>
            <assignToReference>prescriptionsForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dedupedSelectedPrescriptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prescriptions_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Prescriptions_0_0</name>
        <label>Add to Prescriptions</label>
        <locationX>578</locationX>
        <locationY>3530</locationY>
        <assignmentItems>
            <assignToReference>prescriptionsForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>editedPrescriptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prescriptions_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prescription</name>
        <label>Assign Prescription</label>
        <locationX>534</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>nPrescription.Medication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Medications.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Dosage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedMedReducedDosage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Prescription_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Prescribing_Doctor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>prescribingDoctorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Repeats_Permitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Medications.Number_of_Repeats_Allowed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Repeats__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>repeatsFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Meds_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Med_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Medications.Default_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Delivery_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeliveryService</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Pharmacy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Med_Order.Pharmacy__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Prescription_to_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Deduped_Selected_Prescriptions</name>
        <label>Assign To Deduped Selected Prescriptions</label>
        <locationX>710</locationX>
        <locationY>3146</locationY>
        <assignmentItems>
            <assignToReference>dedupedSelectedPrescriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_Prescriptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Prescriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Meds_Order</name>
        <label>Assign to Meds Order</label>
        <locationX>446</locationX>
        <locationY>4430</locationY>
        <assignmentItems>
            <assignToReference>Get_Med_Order.Pharmacy_Order_Placed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Meds_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Prescription</name>
        <label>Assign To Prescription</label>
        <locationX>534</locationX>
        <locationY>3938</locationY>
        <assignmentItems>
            <assignToReference>prescriptionFinalUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Prescriptions_for_Update.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prescriptionFinalUpdate.Prescription_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>For Doctor Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prescriptionFinalUpdate.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Prescriptions_for_Update.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prescriptionFinalUpdate.Dosage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedPresReduceLengthDosage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prescriptionFinalUpdate.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Prescriptions_for_Update.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Final_Update_Prescriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Phone_Format</name>
        <label>Check Phone Format</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>phoneLengthBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phoneLengthFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phoneFormatBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phoneFormatFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Prescription_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Patient_Phone_Update</name>
        <label>Patient Phone Update</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Get_Patient.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Patient_Update</name>
        <label>Patient Update</label>
        <locationX>226</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Get_Patient.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Med_Order.Shipping_Address_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Patient.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Med_Order.Shipping_Address_Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Patient.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Med_Order.Shipping_Address_County__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Patient.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Med_Order.Shipping_Address_PostCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Patient.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Med_Order.Shipping_Address_Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DPD</name>
        <choiceText>DPD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DPD</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Address_Match</name>
        <label>Address Match</label>
        <locationX>446</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Confirm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shipping_Address_Postcode_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Med_Order.Shipping_Address_PostCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm</targetReference>
            </connector>
            <label>Shipping Address NULL (Postcode)</label>
        </rules>
        <rules>
            <name>Shipping_Address_Not_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Med_Order.Shipping_Address_PostCode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Patient.ShippingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Screen</targetReference>
            </connector>
            <label>Shipping Address Not Matched</label>
        </rules>
        <rules>
            <name>Shipping_Address_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Med_Order.Shipping_Address_PostCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Patient.ShippingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm</targetReference>
            </connector>
            <label>Shipping Address Matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesEditedPrescriptionsContainsLoopVariable</name>
        <label>Does Edited Prescriptions Contains Loop Variable</label>
        <locationX>622</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>Assign_To_Deduped_Selected_Prescriptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Edited_Prescriptions_Contains_Loop_Variable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>editedPrescriptionIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Selected_Prescriptions.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Selected_Prescriptions</targetReference>
            </connector>
            <label>Edited Prescriptions Contains Loop Variable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quantity_Number</name>
        <label>Is Quantity Number?</label>
        <locationX>666</locationX>
        <locationY>3830</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Quantity_is_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qtyIsNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_To_Prescription</targetReference>
            </connector>
            <label>Yes Quantity is Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Draft</name>
        <label>Is Record Draft</label>
        <locationX>622</locationX>
        <locationY>4754</locationY>
        <defaultConnector>
            <targetReference>Send_for_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Record_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Prescriptions_for_Approval.Prescription_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Prescriptions_for_Approval</targetReference>
            </connector>
            <label>Yes Record Draft</label>
        </rules>
    </decisions>
    <decisions>
        <name>Output_Prescription_Records_From_Confirm_Screen</name>
        <label>Output Prescription Records From Confirm Screen</label>
        <locationX>446</locationX>
        <locationY>3422</locationY>
        <defaultConnector>
            <targetReference>Loop_Prescriptions_for_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Edited_and_Selected_Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>editedPrescriptionIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dedupedSelectedPrescriptions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Prescriptions</targetReference>
            </connector>
            <label>Edited and Selected Records Exist</label>
        </rules>
        <rules>
            <name>Selected_Records_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dedupedSelectedPrescriptions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>editedPrescriptionIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Prescriptions_0</targetReference>
            </connector>
            <label>Selected Records Only</label>
        </rules>
        <rules>
            <name>Edited_Records_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dedupedSelectedPrescriptions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>editedPrescriptionIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Prescriptions_0_0</targetReference>
            </connector>
            <label>Edited Records Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Update_Reqd</name>
        <label>Phone Update Reqd?</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Address_Match</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Phone_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>phoneFormatBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>phoneLengthBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Patient_Phone_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Patient_Address</name>
        <label>Update Patient Address?</label>
        <locationX>358</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Confirm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Patient_Shipping_Address_with_new_Shipping_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Patient_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>deliveryServiceChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Delivery_Service__c</picklistField>
        <picklistObject>Prescription__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>phoneFormatFormula</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!Get_Patient.Phone}, &quot;^(?:\\+44|\\b0|\\+)?\\d{10,12}$&quot;)</expression>
    </formulas>
    <formulas>
        <name>phoneLengthFormula</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!Get_Patient.Phone})&lt;15</expression>
    </formulas>
    <formulas>
        <name>qtyIsNumber</name>
        <dataType>Boolean</dataType>
        <expression>ISNUMBER({!Loop_Prescriptions_for_Update.Quantity__c})</expression>
    </formulas>
    <formulas>
        <name>repeatsFormula</name>
        <dataType>Number</dataType>
        <expression>IF(NOT(ISBLANK({!Loop_Selected_Medications.Number_of_Repeats_Allowed__c})),{!Loop_Selected_Medications.Number_of_Repeats_Allowed__c},0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Field showing first 141 characters of the Selected Med Dosage</description>
        <name>selectedMedReducedDosage</name>
        <dataType>String</dataType>
        <expression>LEFT({!Loop_Selected_Medications.Dosage_Instruction__c},141)</expression>
    </formulas>
    <formulas>
        <name>updatedPresReduceLengthDosage</name>
        <dataType>String</dataType>
        <expression>LEFT({!Loop_Prescriptions_for_Update.Dosage__c},141)</expression>
    </formulas>
    <interviewLabel>New Prescription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Prescription</label>
    <loops>
        <name>Loop_Edited_Prescriptions_For_IDs</name>
        <label>Loop Edited Prescriptions For IDs</label>
        <locationX>446</locationX>
        <locationY>2522</locationY>
        <collectionReference>editedPrescriptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Edited_Id_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Selected_Prescriptions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Prescriptions_for_Approval</name>
        <label>Loop Prescriptions for Approval</label>
        <locationX>446</locationX>
        <locationY>4646</locationY>
        <collectionReference>finalUpdatePrescriptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Record_Draft</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Navigate_to_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Prescriptions_for_Update</name>
        <label>Loop Prescriptions for Update</label>
        <locationX>446</locationX>
        <locationY>3722</locationY>
        <collectionReference>prescriptionsForUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Quantity_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Prescriptions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Medications</name>
        <label>Loop Selected Medications</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <collectionReference>medsSelector.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Prescription</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Prescriptions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Prescriptions</name>
        <label>Loop Selected Prescriptions</label>
        <locationX>446</locationX>
        <locationY>2822</locationY>
        <collectionReference>selectedPrescriptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Selected_Id_List_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Output_Prescription_Records_From_Confirm_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Prescriptions</name>
        <label>Create Prescriptions</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Phone_Update_Reqd</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>nPrescriptions</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Med_Order</name>
        <label>Get Med Order</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Meds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Meds_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meds</name>
        <label>Get Meds</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Medications__c</object>
        <outputReference>medsForSelection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Allergy_Information__c</queriedFields>
        <queriedFields>Allergy_Warning__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Dosage_Frequency__c</queriedFields>
        <queriedFields>Dosage_Instruction__c</queriedFields>
        <queriedFields>Repeats_Allowed__c</queriedFields>
        <queriedFields>Number_of_Repeats_Allowed__c</queriedFields>
        <queriedFields>Default_Quantity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_Comma_separated_values_to_String_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Med_Order.Patient__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Address_Match</targetReference>
        </connector>
        <inputReference>Get_Patient</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meds_Order</name>
        <label>Update Meds Order</label>
        <locationX>446</locationX>
        <locationY>4538</locationY>
        <connector>
            <targetReference>Loop_Prescriptions_for_Approval</targetReference>
        </connector>
        <inputReference>Get_Med_Order</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Record</name>
        <label>Update Patient Record</label>
        <locationX>226</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
        <inputReference>Get_Patient</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prescriptions</name>
        <label>Update Prescriptions</label>
        <locationX>446</locationX>
        <locationY>4322</locationY>
        <connector>
            <targetReference>Assign_to_Meds_Order</targetReference>
        </connector>
        <inputReference>finalUpdatePrescriptions</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>446</locationX>
        <locationY>2414</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Edited_Prescriptions_For_IDs</targetReference>
        </connector>
        <fields>
            <name>prescriptions</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Prescription__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Prescription__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>nPrescriptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Please Confirm Prescriptions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Medication__c,Dosage__c,Repeats__c,Quantity__c,Comments__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Medication__c:245, Dosage__c:245, Repeats__c:240, Quantity__c:195, Comments__c:387</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>nPrescriptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>editedPrescriptions</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedPrescriptions</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Save &amp; Submit For Approval</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Prescription_Screen</name>
        <label>Create Prescription</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Selected_Medications</targetReference>
        </connector>
        <fields>
            <name>patient</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Prescription__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Patient__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Patient</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Med_Order.Patient__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>prescribingDoctor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Prescribing_Doctor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Prescribing Doctor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Prescription__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Patient.Lead_Doctor__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>prescribingDoctorId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DeliveryService</name>
            <choiceReferences>deliveryServiceChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>DPD</stringValue>
            </defaultValue>
            <fieldText>Delivery Service</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Med_Order.Pharmacy__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>WebRX Pharma</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Patient.Phone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^(?:\+44|\b0|\+)?\d{10,12}$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone (will match either UK phone numbers with or without the country code &quot;+44&quot;, starting with &quot;0&quot;, or just the local number without any prefix)</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>phoneFormatBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>phoneLengthBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Create_Prescription_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Prescription_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>requestedMeds</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Requested Medications&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Convert_Comma_separated_values_to_String_Collection.stringCollection}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Prescription_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>currentMedsDosage</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Patient Current Meds/Dosage&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Get_Patient.Current_Medication_Dosage__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>medsSelector</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Medications__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Medications__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>medsForSelection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Dosage_Instruction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:370, Dosage_Instruction__c:770</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom86</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Select Medications</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>798</locationX>
        <locationY>3938</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;ERROR: When setting a medication Quantity, Quantity must be a number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>1018</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Screen</name>
        <label>Warning Screen</label>
        <locationX>358</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Patient_Address</targetReference>
        </connector>
        <fields>
            <name>addressWarning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The Patient has provided a Shipping Address that does not match the current Shipping Address on the Patient Record&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Warning_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Warning_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>medOrderShippingAddressDisplay</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Med Order Shipping Address&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Get_Med_Order.Shipping_Address__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Warning_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>patientShippingAddressDisplay</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Patient Shipping Address&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!patientAddressText}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Update_Patient_Shipping_Address_with_new_Shipping_Address</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Update Patient Shipping Address with new Shipping Address?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Med_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>patientAddressText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_Patient.ShippingStreet}
{!Get_Patient.ShippingCity}
{!Get_Patient.ShippingState}
{!Get_Patient.ShippingPostalCode}
{!Get_Patient.ShippingCountry}</text>
    </textTemplates>
    <variables>
        <name>confirmedMeds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Medications__c</objectType>
    </variables>
    <variables>
        <name>confirmedPrescriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Prescription__c</objectType>
    </variables>
    <variables>
        <name>dedupedSelectedPrescriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Prescription__c</objectType>
    </variables>
    <variables>
        <name>editedIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>editedPrescriptionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>editedPrescriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Prescription__c</objectType>
    </variables>
    <variables>
        <name>editedRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalUpdatePrescriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Prescription__c</objectType>
    </variables>
    <variables>
        <name>medsForSelection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Medications__c</objectType>
    </variables>
    <variables>
        <name>nPrescription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Prescription__c</objectType>
    </variables>
    <variables>
        <name>nPrescriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Prescription__c</objectType>
    </variables>
    <variables>
        <name>patientAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Patient.ShippingAddress</elementReference>
        </value>
    </variables>
    <variables>
        <name>phoneFormatBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phoneLengthBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>prescribingDoctorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>prescriptionFinalUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Prescription__c</objectType>
    </variables>
    <variables>
        <name>prescriptionsForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Prescription__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedPrescriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Prescription__c</objectType>
    </variables>
    <variables>
        <name>selectedPrescriptionsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
