unpackaged/main/default/flows/optimale_patient_satisfaction_survey_v0_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_09b57d4a_3e9d_47a6_acb2_9698d851c7f1</name>
        <choiceText>Water Retention</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Water Retention</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0f02bd39_620a_40c3_b165_2c313f0fe4a0</name>
        <choiceText>Raised Oestrogen</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Raised Oestrogen</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_116553c7_12b2_42e9_a22f_542b999d93b5</name>
        <choiceText>Acne</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Acne</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_18ff1777_3e70_4988_a1d5_d4e547e0cfd8</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_23a8b149_7d72_44ea_b609_b136b5d0348f</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2636cc9b_b78b_4499_8c99_a3e9621aa259</name>
        <choiceText>Ineffective</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_28b54a2e_fbfe_49a5_90da_f237b88f6faa</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3b3630a5_6bb3_400a_9091_8388430d2cc1</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3c5b87fc_420f_4050_986a_774e40f686a2</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3dcab591_cadd_4c1c_949b_56219a2b5ad9</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5185d680_64ff_4f4d_958f_bd542b993f24</name>
        <choiceText>Effective</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_58d339a6_56a2_4206_8e87_0da8ab6bf3ce</name>
        <choiceText>Raised PSA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Raised PSA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5ed64b0a_dff5_48db_a36f_254480645f14</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5ed7d818_0f25_4b5c_8c8b_b202547f1025</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_637501ea_6d6b_42a9_9494_bbc94db6da24</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6917963d_9e7f_413a_be73_bbe79a730ef0</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_88fbe505_73e3_4dcb_935f_14ce3b8c1cd8</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_94c8ff58_e2de_4446_8053_195c0a8d0907</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9c502adc_7fdd_4682_bfab_a9726818ba52</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9e6d3eb9_63fc_4839_907a_f78d8321f9f2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9fc8eebc_6f3c_4944_81a3_8ef61b5c0cde</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_abd45696_efb5_491c_88ef_2bb2a418d1a8</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_aec1822b_ca3b_421c_9861_41a47aff4f47</name>
        <choiceText>Gynaecomastia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gynaecomastia</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bc4df1f4_fc40_43bb_b59d_7efa350b5d4b</name>
        <choiceText>Raised Haematocrit or Increased Red Blood Cells</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Raised Haematocrit or Increased Red Blood Cells</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c532602f_bd75_44fd_81a6_de76ad79d7fa</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d481fc6d_4c1b_4198_828f_f69654ef1572</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dbea845e_3ba9_44a1_a24b_8ed88a1bfa65</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dcc69c2e_8ea0_4737_8385_a3b1d19cdd36</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_eeb6d2c1_0b7b_4b46_9a86_b0c5e031b3bc</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f1de0ba9_1b74_4d45_9eba_9e97d058db07</name>
        <choiceText>Testicular Atrophy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Testicular Atrophy</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f6a4d331_e2d4_4f24_a3d0_ae43feda1e1f</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <interviewLabel>OptiMale Patient Satisfaction Survey v1</interviewLabel>
    <label>OptiMale Patient Satisfaction Survey v1</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>optimale_patient_satisfaction_survey_v0_1_3</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_04da94df_5829_4ee3_bbb7_deda6a9761c6</name>
        <label>Side Effects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_f6b17369_2d63_4bc2_a477_4ec2291faa5a</targetReference>
        </connector>
        <fields>
            <name>q_418a6a0e_0704_4c20_9906_c2f6cbecb006</name>
            <choiceReferences>c_0f02bd39_620a_40c3_b165_2c313f0fe4a0</choiceReferences>
            <choiceReferences>c_aec1822b_ca3b_421c_9861_41a47aff4f47</choiceReferences>
            <choiceReferences>c_09b57d4a_3e9d_47a6_acb2_9698d851c7f1</choiceReferences>
            <choiceReferences>c_bc4df1f4_fc40_43bb_b59d_7efa350b5d4b</choiceReferences>
            <choiceReferences>c_116553c7_12b2_42e9_a22f_542b999d93b5</choiceReferences>
            <choiceReferences>c_f1de0ba9_1b74_4d45_9eba_9e97d058db07</choiceReferences>
            <choiceReferences>c_58d339a6_56a2_4206_8e87_0da8ab6bf3ce</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;Have you had any of the following &lt;b&gt;Side Effects&lt;/b&gt; since starting treatment with OptiMale?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;(if these are urgent please email patients@optimale.co.uk or call 999 in an emergency) &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>If you have had any of the side effects below, please select them from the list.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>q_0f08c54a_773f_462d_aa10_b518ba5f838e</name>
            <choiceReferences>c_9c502adc_7fdd_4682_bfab_a9726818ba52</choiceReferences>
            <choiceReferences>c_dcc69c2e_8ea0_4737_8385_a3b1d19cdd36</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;If you had any of the Side Effects above, were you happy with the management of the side effects?&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>q_754f39c9_780b_4885_a9ac_a65a9dfecb25</name>
            <choiceReferences>c_3c5b87fc_420f_4050_986a_774e40f686a2</choiceReferences>
            <choiceReferences>c_f6a4d331_e2d4_4f24_a3d0_ae43feda1e1f</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;Were you able to contact OptiMale if you had a problem?&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>q_860e6a2b_b7aa_4232_8900_386c5bdf1bad</name>
            <choiceReferences>c_88fbe505_73e3_4dcb_935f_14ce3b8c1cd8</choiceReferences>
            <choiceReferences>c_9fc8eebc_6f3c_4944_81a3_8ef61b5c0cde</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;Have you had any issues receiving your medication?&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>q_dc495341_65fe_4846_994d_ac93612b06b6</name>
            <choiceReferences>c_3dcab591_cadd_4c1c_949b_56219a2b5ad9</choiceReferences>
            <choiceReferences>c_28b54a2e_fbfe_49a5_90da_f237b88f6faa</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;If so, were the issues r&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;eceiving your medication easily resolved?&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ce97c445_dc11_4a46_ad33_9adc46eba70e</name>
        <label>Symptoms</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_04da94df_5829_4ee3_bbb7_deda6a9761c6</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_b98cbdee_f02b_4296_996d_7bee97fcfe2f_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_b98cbdee_f02b_4296_996d_7bee97fcfe2f</name>
            <choiceReferences>c_2636cc9b_b78b_4499_8c99_a3e9621aa259</choiceReferences>
            <choiceReferences>c_9e6d3eb9_63fc_4839_907a_f78d8321f9f2</choiceReferences>
            <choiceReferences>c_5ed64b0a_dff5_48db_a36f_254480645f14</choiceReferences>
            <choiceReferences>c_18ff1777_3e70_4988_a1d5_d4e547e0cfd8</choiceReferences>
            <choiceReferences>c_5185d680_64ff_4f4d_958f_bd542b993f24</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿Are you finding your current treatment effective?﻿&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Please answer on a scale of 1-5 stars, where 5 stars is very effective, and 1 star is ineffective</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>Slider</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3eaba743_c493_4d45_b9fa_1b18b3efd368</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;How is your &lt;b&gt;Mood&lt;/b&gt;, compared to before you started treatment?&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Please answer on a scale of 1-5, where 5 is very good, and 1 is very poor</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>Slider</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d66e7b0c_18b6_4b75_b7ba_107c9bcc833f</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;How is your &lt;b&gt;Libido / Sex Drive&lt;/b&gt;, compared to before you started treatment?&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Please answer on a scale of 1-5, where 5 is very good, and 1 is very poor</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>Slider</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1e502bb1_bbf4_4c4c_98a2_d3593c0bd16b</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;How is your &lt;b&gt;Enjoyment in Life&lt;/b&gt;, compared to before you started treatment?&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Please answer on a scale of 1-5, where 5 is very good, and 1 is very poor</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>Slider</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <name>q_97601190_3926_45a6_be27_2fd15b348404</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;How is your &lt;b&gt;Tiredness&lt;/b&gt;, compared to before you started treatment?﻿&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Please answer on a scale of 1-5, where 5 is very good, and 1 is very poor</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>Slider</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7d7112ce_ac80_4ca6_b4d2_020732ce2773</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;How is your &lt;b&gt;Grumpiness&lt;/b&gt;, compared to before you started treatment?﻿&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Please answer on a scale of 1-5, where 5 is very good, and 1 is very poor</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>Slider</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a05c3fc2_c268_43cc_9fb3_e4f9fcb4512c</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;How are your &lt;b&gt;Erections and Morning Erections&lt;/b&gt;, compared to before you started treatment?﻿﻿&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Please answer on a scale of 1-5, where 5 is very good, and 1 is very poor</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>Slider</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e6c587db_2a05_487b_bed9_6128de5bf8bb</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;How is your &lt;b&gt;Confidence&lt;/b&gt;, compared to before you started treatment?﻿&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Please answer on a scale of 1-5, where 5 is very good, and 1 is very poor</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>Slider</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1a1da15b_11bd_4f08_8bea_c01af45ae967</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;Have you noticed an &lt;b&gt;Improvement in your Relationships&lt;/b&gt;, compared to before you started treatment?﻿﻿&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Please answer on a scale of 1-5, where 5 is very good, and 1 is very poor</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>Slider</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <name>q_281735ad_0f4b_4268_a1ac_42113d23c4c9</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;How is your &lt;b&gt;Ability to Exercise&lt;/b&gt;, compared to before you started treatment?﻿&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Please answer on a scale of 1-5, where 5 is very good, and 1 is very poor</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>Slider</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ead2627e_c293_4abb_9906_15ce19b4382d</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;How is your &lt;b&gt;Body Composition&lt;/b&gt;, compared to before you started treatment?﻿&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Please answer on a scale of 1-5, where 5 is very good, and 1 is very poor</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_f6b17369_2d63_4bc2_a477_4ec2291faa5a</name>
        <label>Doctors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>q_ff7074f0_9538_4014_9a72_ba235a47474e</name>
            <choiceReferences>c_dbea845e_3ba9_44a1_a24b_8ed88a1bfa65</choiceReferences>
            <choiceReferences>c_c532602f_bd75_44fd_81a6_de76ad79d7fa</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;Have you been reviewed by a OptiMale doctor since you started treatment?&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>Slider</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9e0b10d3_433e_4579_b40f_e89735b73377</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;How would you rate your OptiMale doctor&#39;s&lt;b&gt; Communication Skill?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Please answer on a scale of 1-5, where 5 is very good, and 1 is very poor</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>Slider</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <name>q_03e07371_d9b4_434d_a43e_e02175bca451</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;How would you rate your OptiMale doctor&#39;s &lt;b&gt;Knowledge?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Please answer on a scale of 1-5, where 5 is very good, and 1 is very poor</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>Slider</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3b49f777_dd5c_4d05_aa85_f0119d257f6d</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;How would you rate your OptiMale doctor&#39;s &lt;b&gt;Professionalism?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Please answer on a scale of 1-5, where 5 is very good, and 1 is very poor</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>q_3a161a6f_8166_473e_92aa_808f7a6d7fbc</name>
            <choiceReferences>c_eeb6d2c1_0b7b_4b46_9a86_b0c5e031b3bc</choiceReferences>
            <choiceReferences>c_637501ea_6d6b_42a9_9494_bbc94db6da24</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;Have you made a complaint?&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>q_da02a325_3c0b_4623_85d8_e1c22910a5b1</name>
            <choiceReferences>c_23a8b149_7d72_44ea_b609_b136b5d0348f</choiceReferences>
            <choiceReferences>c_d481fc6d_4c1b_4198_828f_f69654ef1572</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;If you have made a complaint, w﻿as your complaint hand&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;led to your satisfaction?&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_4b3d0a29_39ff_4015_b804_5a6ba167c7b2_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_4b3d0a29_39ff_4015_b804_5a6ba167c7b2</name>
            <choiceReferences>c_3b3630a5_6bb3_400a_9091_8388430d2cc1</choiceReferences>
            <choiceReferences>c_5ed7d818_0f25_4b5c_8c8b_b202547f1025</choiceReferences>
            <choiceReferences>c_abd45696_efb5_491c_88ef_2bb2a418d1a8</choiceReferences>
            <choiceReferences>c_94c8ff58_e2de_4446_8053_195c0a8d0907</choiceReferences>
            <choiceReferences>c_6917963d_9e7f_413a_be73_bbe79a730ef0</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;Overall how happy are you with the service you have received from OptiMale?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Please answer on a scale of 1-5 stars, where 5 is very happy, and 1 is very unhappy</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>q_d626e0ec_1b8c_4538_a315_5ae7c8da13f4</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;Do you have any comments or suggestions to help us improve our service?&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_ce97c445_dc11_4a46_ad33_9adc46eba70e</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Obsolete</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Thank you for completing our patient satisfaction survey! As always, please feel free to contact us at patients@optimale.co.uk if you have any questions about your treatment.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Welcome to our OptiMale patient satisfaction survey. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Your feedback on your treatment so far would be greatly appreciated, to help us improve the service we offer you moving forwards, and address any areas where we could be doing better.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_4b3d0a29_39ff_4015_b804_5a6ba167c7b2_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_b98cbdee_f02b_4296_996d_7bee97fcfe2f_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
