unpackaged/main/default/flows/Patient_Reminder_Scheduled_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_Tasks_For_Creation</name>
        <label>Add to Tasks For Creation</label>
        <locationX>710</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>tasksForCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>nEmailTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tasksForCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>nSMSTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Task_A</name>
        <label>Assign Email Task A</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>nEmailTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Patient_Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectEmail6Weeks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adminUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SMS_Task_A</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SMS_Task_A</name>
        <label>Assign SMS Task A</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>nSMSTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statusFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phoneNumberFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Patient_Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectPhone6Weeks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ownerFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Tasks_For_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SMS_Task_B</name>
        <label>Assign SMS Task B</label>
        <locationX>314</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>nSMSTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statusFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phoneNumberFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Patient_Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectPhone3Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ownerFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Tasks_For_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SMS_Task_C</name>
        <label>Assign SMS Task C</label>
        <locationX>578</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>nSMSTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statusFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phoneNumberFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Patient_Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectPhone6Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ownerFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Tasks_For_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SMS_Task_D</name>
        <label>Assign SMS Task D</label>
        <locationX>842</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>nSMSTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statusFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phoneNumberFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Patient_Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>D</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectPhone12Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ownerFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Tasks_For_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SMS_Task_E</name>
        <label>Assign SMS Task E</label>
        <locationX>1106</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>nSMSTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statusFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phoneNumberFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Patient_Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectPhoneSubsequent6Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ownerFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Tasks_For_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmailTaskB</name>
        <label>Assign Email Task B</label>
        <locationX>314</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>nEmailTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Patient_Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectEmail3Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adminUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SMS_Task_B</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmailTaskC</name>
        <label>Assign Email Task C</label>
        <locationX>578</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>nEmailTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Patient_Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectEmail6Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adminUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SMS_Task_C</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmailTaskD</name>
        <label>Assign Email Task D</label>
        <locationX>842</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>nEmailTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Patient_Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>D</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectEmail12Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adminUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SMS_Task_D</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmailTaskE</name>
        <label>Assign Email Task E</label>
        <locationX>1106</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>nEmailTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Patient_Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectEmailSubsequent6Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEmailTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adminUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SMS_Task_E</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Next_Reminder_Date_Is_Today</name>
        <label>Next Reminder Date Is Today?</label>
        <locationX>1128</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Next_Reminder_Date_Is_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Next_Blood_Test_Reminder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Failed_Task_Queue</targetReference>
            </connector>
            <label>Yes - Next Reminder Date Is Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Patient_Lifecycle_Stage</name>
        <label>Patient Lifecycle Stage</label>
        <locationX>710</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Add_to_Tasks_For_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_Task_A</targetReference>
            </connector>
            <label>A</label>
        </rules>
        <rules>
            <name>B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEmailTaskB</targetReference>
            </connector>
            <label>B</label>
        </rules>
        <rules>
            <name>C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEmailTaskC</targetReference>
            </connector>
            <label>C</label>
        </rules>
        <rules>
            <name>D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEmailTaskD</targetReference>
            </connector>
            <label>D</label>
        </rules>
        <rules>
            <name>E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEmailTaskE</targetReference>
            </connector>
            <label>E</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ownerFormula</name>
        <dataType>String</dataType>
        <expression>IF({!statusFormula}=&quot;Missing Data&quot;,{!failedTasksQueueId},{!adminUserId})</expression>
    </formulas>
    <formulas>
        <name>phoneNumberFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Phone}),NULL,{!$Record.Phone})</expression>
    </formulas>
    <formulas>
        <name>statusFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Phone}),&quot;Missing Data&quot;,&quot;Queued&quot;)</expression>
    </formulas>
    <interviewLabel>Patient Reminder Scheduled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient Reminder Scheduled Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>710</locationX>
        <locationY>1212</locationY>
        <inputReference>tasksForCreation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Admin_User</name>
        <label>Get Admin User</label>
        <locationX>710</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Patient_Lifecycle_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>adminUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Failed_Task_Queue</name>
        <label>Get Failed Task Queue</label>
        <locationX>710</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Admin_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Failed_Tasks</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>failedTasksQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>1002</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Next_Reminder_Date_Is_Today</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Status__pc</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current Patient</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-12-29</startDate>
            <startTime>11:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>subjectEmail12Month</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>12 Month Reminder for: {!$Record.FirstName} {!$Record.LastName} ({!$Record.PersonEmail})</text>
    </textTemplates>
    <textTemplates>
        <name>subjectEmail3Month</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>3 Month Reminder for: {!$Record.FirstName} {!$Record.LastName} ({!$Record.PersonEmail})</text>
    </textTemplates>
    <textTemplates>
        <name>subjectEmail6Month</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>6 Month Reminder for: {!$Record.FirstName} {!$Record.LastName} ({!$Record.PersonEmail})</text>
    </textTemplates>
    <textTemplates>
        <name>subjectEmail6Weeks</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>6 Week Reminder for: {!$Record.FirstName} {!$Record.LastName} ({!$Record.PersonEmail})</text>
    </textTemplates>
    <textTemplates>
        <name>subjectEmailSubsequent6Month</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Subsequent 6 Month Reminder for: {!$Record.FirstName} {!$Record.LastName} ({!$Record.PersonEmail})</text>
    </textTemplates>
    <textTemplates>
        <name>subjectPhone12Month</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>12 Month Reminder for: {!$Record.FirstName} {!$Record.LastName} ({!$Record.Phone})</text>
    </textTemplates>
    <textTemplates>
        <name>subjectPhone3Month</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>3 Month Reminder for: {!$Record.FirstName} {!$Record.LastName} ({!$Record.Phone})</text>
    </textTemplates>
    <textTemplates>
        <name>subjectPhone6Month</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>6 Month Reminder for: {!$Record.FirstName} {!$Record.LastName} ({!$Record.Phone})</text>
    </textTemplates>
    <textTemplates>
        <name>subjectPhone6Weeks</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>6 Week Reminder for: {!$Record.FirstName} {!$Record.LastName} ({!$Record.Phone})</text>
    </textTemplates>
    <textTemplates>
        <name>subjectPhoneSubsequent6Month</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Subsequent 6 Month Reminder for: {!$Record.FirstName} {!$Record.LastName} ({!$Record.Phone})</text>
    </textTemplates>
    <variables>
        <name>adminUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>failedTasksQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nEmailTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>nSMSTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>tasksForCreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
