unpackaged/main/default/flows/Prescription_Delete_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>132</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>countRepeats</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>repeatPrescriptions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countRepeats</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Issued_Repeats_on_Lead_Prescription</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Prescription_Type</name>
        <label>Prescription Type</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Prescription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <label>Lead Prescription</label>
        </rules>
        <rules>
            <name>Repeat_Prescription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repeat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Repeats</targetReference>
            </connector>
            <label>Repeat Prescription</label>
        </rules>
    </decisions>
    <interviewLabel>Prescription Delete Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prescription Delete Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Repeats</name>
        <label>Get All Repeats</label>
        <locationX>132</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead_Prescription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead_Prescription__c</elementReference>
            </value>
        </filters>
        <object>Prescription__c</object>
        <outputReference>repeatPrescriptions</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Issued_Repeats_on_Lead_Prescription</name>
        <label>Update Issued Repeats on Lead Prescription</label>
        <locationX>132</locationX>
        <locationY>671</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead_Prescription__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Repeats_Issued__c</field>
            <value>
                <elementReference>countRepeats</elementReference>
            </value>
        </inputAssignments>
        <object>Prescription__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Prescription_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Repeat</stringValue>
            </value>
        </filters>
        <object>Prescription__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>countRepeats</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>repeatPrescriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Prescription__c</objectType>
    </variables>
</Flow>
