unpackaged/main/default/flows/Prescription_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>countRepeats</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>repeatPrescriptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Issued_Repeats_on_Lead_Prescription</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Prescription_Draft</name>
        <label>Is Prescription Draft</label>
        <locationX>622</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Prescription_is_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prescription_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Record</targetReference>
            </connector>
            <label>Yes - Prescription is Draft</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prescription_Type</name>
        <label>Prescription Type</label>
        <locationX>94</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Get_Med_From_Prescription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Prescription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Med_From_Prescription</targetReference>
            </connector>
            <label>Lead Prescription</label>
        </rules>
        <rules>
            <name>Repeat_Prescription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repeat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Repeats</targetReference>
            </connector>
            <label>Repeat Prescription</label>
        </rules>
    </decisions>
    <interviewLabel>Prescription Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prescription Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Record</name>
        <label>Delete Record</label>
        <locationX>490</locationX>
        <locationY>408</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Repeats</name>
        <label>Get All Repeats</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead_Prescription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead_Prescription__c</elementReference>
            </value>
        </filters>
        <object>Prescription__c</object>
        <outputReference>repeatPrescriptions</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Med_From_Prescription</name>
        <label>Get Med From Prescription</label>
        <locationX>94</locationX>
        <locationY>864</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Meds_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Medication__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Medications__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Issued_Repeats_on_Lead_Prescription</name>
        <label>Update Issued Repeats on Lead Prescription</label>
        <locationX>50</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Get_Med_From_Prescription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead_Prescription__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Repeats_Issued__c</field>
            <value>
                <elementReference>countRepeats</elementReference>
            </value>
        </inputAssignments>
        <object>Prescription__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meds_Order</name>
        <label>Update Meds Order</label>
        <locationX>94</locationX>
        <locationY>984</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Meds_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pharmacy__c</field>
            <value>
                <elementReference>Get_Med_From_Prescription.Pharmacy_global__c</elementReference>
            </value>
        </inputAssignments>
        <object>Meds_Order__c</object>
    </recordUpdates>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Prescription_Type</targetReference>
        </connector>
        <object>Prescription__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>After_1_Minute</name>
            <connector>
                <targetReference>Is_Prescription_Draft</targetReference>
            </connector>
            <label>After 1 Minute</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>countRepeats</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>repeatPrescriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Prescription__c</objectType>
    </variables>
</Flow>
