unpackaged/main/default/flows/Queue_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Task</name>
        <label>Assign Task</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Task.Automated_SMS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task.Automated_SMS_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountPhone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_1</name>
        <label>Assign Task</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Get_Task.Automated_SMS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Abandoned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_2</name>
        <label>Assign Task</label>
        <locationX>1018</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Get_Task.Automated_SMS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Abandoned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_3</name>
        <label>Assign Task</label>
        <locationX>1282</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Task.Automated_Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task.Automated_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patientEmail.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Abandon</name>
        <choiceText>Abandon</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Abandon</stringValue>
        </value>
    </choices>
    <choices>
        <name>Re_Queue</name>
        <choiceText>Re-Queue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Re-Queue</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Further_Instructions</name>
        <label>Further Instructions</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Update_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Abandon_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_Queue_the_Task_to_send_again_or_abandon_the_Task_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Abandon</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_1</targetReference>
            </connector>
            <label>Abandon</label>
        </rules>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_Queue_the_Task_to_send_again_or_abandon_the_Task_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Re_Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Further_Instructions_0</name>
        <label>Further Instructions</label>
        <locationX>1282</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Update_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Abandon_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_Queue_the_Task_to_send_again_or_abandon_the_Task</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Abandon</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_2</targetReference>
            </connector>
            <label>Abandon</label>
        </rules>
        <rules>
            <name>Queue_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_Queue_the_Task_to_send_again_or_abandon_the_Task</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Re_Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_0</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Type</name>
        <label>Task Type</label>
        <locationX>886</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Update_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Automated_Task_Channel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Automated_Email_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Automated_SMS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorScreen</targetReference>
            </connector>
            <label>Standard</label>
        </rules>
        <rules>
            <name>SMS</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Automated_Task_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Automated_SMS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Automated_SMS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missing Data</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>SMS</label>
        </rules>
        <rules>
            <name>EMail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Automated_Task_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Automated_Email_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_0</targetReference>
            </connector>
            <label>EMail</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Queue Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Queue Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Instructions_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.WhatId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>patientAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_0</name>
        <label>Get Account</label>
        <locationX>1282</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Instructions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.WhatId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>patientAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_User</name>
        <label>Get Default Admin User</label>
        <locationX>886</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>886</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Default_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Assign_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>patientAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>accountPhone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_0</name>
        <label>Update Account</label>
        <locationX>1282</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Assign_Task_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>patientAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>patientEmail.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>886</locationX>
        <locationY>1310</locationY>
        <inputReference>Get_Task</inputReference>
    </recordUpdates>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>nonAutomatedWarning</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;This task is not an automated EMail or SMS Task and cannot be Queued&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Task.Automated_Task_Channel__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayText2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;This Task has already been successfully sent and cannot be Queued&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Task.Automated_Email_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Success</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Task.Automated_SMS_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Success</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Instructions</name>
        <label>Instructions</label>
        <locationX>1282</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Further_Instructions_0</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_Queue_the_Task_to_send_again_or_abandon_the_Task</name>
            <choiceReferences>Re_Queue</choiceReferences>
            <choiceReferences>Abandon</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to Queue the Task to send again or abandon the Task?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>patientEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please confirm the Patient Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>patientAccount.PersonEmail</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Would_you_like_to_Queue_the_Task_to_send_again_or_abandon_the_Task</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Re_Queue</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Instructions_0</name>
        <label>Instructions</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Further_Instructions</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_Queue_the_Task_to_send_again_or_abandon_the_Task_0</name>
            <choiceReferences>Re_Queue</choiceReferences>
            <choiceReferences>Abandon</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to Queue the Task to send again or abandon the Task?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>accountPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>patientAccount.Phone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please confirm the Patient Phone number</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Would_you_like_to_Queue_the_Task_to_send_again_or_abandon_the_Task_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Re_Queue</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>patientAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
