unpackaged/main/default/flows/Set_PSA_Prostate_Max_based_on_Age_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>X1_4</name>
        <label>1.4</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.PSA_Prostate_Max__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1.4</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>X2_5</name>
        <label>2.5</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.PSA_Prostate_Max__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2.5</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>X3_5</name>
        <label>3.5</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.PSA_Prostate_Max__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3.5</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>X4_5</name>
        <label>4.5</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.PSA_Prostate_Max__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4.5</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>X6_5</name>
        <label>6.5</label>
        <locationX>1106</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.PSA_Prostate_Max__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6.5</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Age_Check</name>
        <label>Age Check</label>
        <locationX>710</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Age_39</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Patient.Age__pc</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>39.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_4</targetReference>
            </connector>
            <label>Age &lt;= 39</label>
        </rules>
        <rules>
            <name>Age_40_to_49</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Patient.Age__pc</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Patient.Age__pc</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>49.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_5</targetReference>
            </connector>
            <label>Age 40 to 49</label>
        </rules>
        <rules>
            <name>Age_50_to_59</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Patient.Age__pc</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Patient.Age__pc</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>59.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3_5</targetReference>
            </connector>
            <label>Age 50 to 59</label>
        </rules>
        <rules>
            <name>Age_60_to_69</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Patient.Age__pc</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Patient.Age__pc</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>69.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X4_5</targetReference>
            </connector>
            <label>Age 60 to 69</label>
        </rules>
        <rules>
            <name>Age_70_to_79</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Patient.Age__pc</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>70.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X6_5</targetReference>
            </connector>
            <label>Age 70 to 79</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Set PSA Prostate Max based on Age Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set PSA Prostate Max based on Age Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Patient</name>
        <label>Patient</label>
        <locationX>710</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Age_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonAccount_RT.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PersonAccount_RT</name>
        <label>PersonAccount RT</label>
        <locationX>710</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Patient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PersonAccount_RT</targetReference>
        </connector>
        <object>Blood_Test__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
