unpackaged/main/default/flows/Six_Week_Blood_Test_Task_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Blood_Test_Count</name>
        <label>Assign Blood Test Count</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>bloodTestCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Blood_Tests</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_Blood_Test_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Task_EMail</name>
        <label>Assign New Task EMail</label>
        <locationX>314</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>nEMailTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEMailTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEMailTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEMailTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEMailTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectEmailTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEMailTask.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEMailTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow-up Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEMailTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEMailTask.Automated_Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEMailTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEMailTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEMailTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEMailTask.Automated_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Email_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Task_SMS</name>
        <label>Assign New Task SMS</label>
        <locationX>50</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>nSMSTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectSMSTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow-up Blood Test Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_Task_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nSMSTask.Automated_SMS_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMS_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Task_Channel</name>
        <label>Task Channel</label>
        <locationX>314</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Automated_Task_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Task_SMS</targetReference>
            </connector>
            <label>SMS</label>
        </rules>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Automated_Task_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Task_EMail</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_Blood_Test_Count</name>
        <label>What is Blood Test Count</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bloodTestCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Channel</targetReference>
            </connector>
            <label>Zero</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dateTimeFiveDaysAgo</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - 5</expression>
    </formulas>
    <interviewLabel>Six Week Blood Test Task Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Six Week Follow-Up Reminder Blood Test Task Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Task</name>
        <label>Create Email Task</label>
        <locationX>314</locationX>
        <locationY>1008</locationY>
        <inputReference>nEMailTask</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Task</name>
        <label>Create SMS Task</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <inputReference>nSMSTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Blood_Test_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>Phone</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Blood_Tests</name>
        <label>Get Blood Tests</label>
        <locationX>578</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>dateTimeFiveDaysAgo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Blood_Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>6 week Blood Test</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>6 Week Reminder for</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X5_Days_After_Task_Due_Date</name>
            <connector>
                <targetReference>Get_Blood_Tests</targetReference>
            </connector>
            <label>5 Days After Task Due Date</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ActivityDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>subjectEmailTask</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Follow-Up Blood Test Reminder (6 Week) ({!Get_Account.PersonEmail})</text>
    </textTemplates>
    <textTemplates>
        <name>subjectSMSTask</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Follow-Up Blood Test Reminder (6 Week) ({!Get_Account.Phone})</text>
    </textTemplates>
    <variables>
        <name>bloodTestCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nEMailTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>nSMSTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>tasksForCreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
